* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 16px;
  }
  .nav-wrapper-about{
    background-color: white;
    height: 90px;
    width: 100%;
    
    nav{
    /*max-width: 980px;*/
    width: 70%;
    height: 90px;
    margin: 0 auto;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-about{
        position: relative;
        width: 92px;
        height: 42px;
        border: solid 2px black;


        span{
            position: absolute;
            bottom: -5px;
            color: black;
            font-size: 20px;
        }
    }


    .links-about{
        width: 350px;
        display: flex;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: black;

        }

        span{
            color: #EE4367;
            }
        }
    }
}

@media only all and (max-width: 980px){
    .nav-wrapper-about{
        nav{
            padding: 0 30px;
        }
    }
}

  .hero-about{
      max-width: 980px;
      min-height: 378px;
      background-image: 
      linear-gradient(
          rgba(255,209,64,0.7),
          rgba(255,209,64,0.7)
      ),
      url(../images/about.jpg);
      margin: 0 auto;
      margin-top: 86px;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }

  .hero-about .hero-title-about{
        position: absolute;
        bottom: 0;
    
  }

  .title-i{
      font-size: 300px;
      line-height: 0;
      margin-right: 70px;
      font-family: GSR;
      color: #FFD140;
  }

  .title-food{
      font-size: 140px;
      line-height: 0;
      font-family: GSR;
      color: #FFD140
  }

  .history-about{
      max-width: 980px;
      min-height: 378px;
       margin: -25px auto 0 auto; 
      
      /* this is for the about page  -25px*/
  }

  .history-about .history-title{
      text-transform: uppercase;
      font-size: 25px;
      border-bottom: solid 2px black;
      padding-right: 30px;
      padding-bottom: 2px;
      font-family: GSR;
  }
  .history-about p{
      margin-top: 50px;
      font-family: GSR;
      font-size: 16px;
      font-style: italic;
      font-weight: lighter;
  }

  

 
