.foodFest{
    max-width: 980px;
    min-height: 378px;
    background-image: 
    linear-gradient(
        rgba(255,209,64,0.5),
        rgba(255,209,64,0.5)
    ),
    url(../images/gallery/1.png);
    margin: 0 auto;
    margin-top: 86px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
}

.foodFest .foodFestAB{
    position: absolute;
    bottom: 0;

}

.DJ{
    max-width: 980px;
    min-height: 378px;
    background-image: 
    linear-gradient(
        rgba(238,67,103,0.5),
        rgba(238,67,103,0.5)
    ),
    url(../images/gallery/2.jpeg);
    margin: 0 auto;
    margin-top: 86px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
}

.DJ .DJAB{
    position: absolute;
    bottom: 0;

}

.DJ-title{
    font-size: 200px;
    line-height: 0;
    margin-right: 70px;
    font-family: GSR;
    color: #EE4367;
}

.DJ-title2{
    font-size: 140px;
    line-height: 0;
    font-family: GSR;
    color: #EE4367;
}

.speech{
    max-width: 980px;
    min-height: 378px;
    background-image: 
    linear-gradient(
        rgba(8,173,105,0.5),
        rgba(8,173,105,0.5)
    ),
    url(../images/gallery/3.jpg);
    margin: 0 auto;
    margin-top: 86px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
}

.speech .speechAB{
    position: absolute;
    bottom: 0;

}

.speech-title{
    font-size: 200px;
    line-height: 0;
    margin-right: 70px;
    font-family: GSR;
    color: #08AD69;
}

.speech-title2{
    font-size: 140px;
    line-height: 0;
    font-family: GSR;
    color: #08AD69;
}

.open{
    max-width: 980px;
    min-height: 378px;
    background-image: 
    linear-gradient(
        rgba(84,13,110,0.5),
        rgba(84,13,110,0.5)
    ),
    url(../images/gallery/4.jpg);
    margin: 0 auto;
    margin-top: 86px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
}

.open .openAB{
    position: absolute;
    bottom: 0;

}

.open-title{
    font-size: 200px;
    line-height: 0;
    margin-right: 70px;
    font-family: GSR;
    color: #540D6E;
}

.open-title2{
    font-size: 110px;
    line-height: 0;
    font-family: GSR;
    color: #540D6E;
}

.intern{
    max-width: 980px;
    min-height: 378px;
    background-image: 
    linear-gradient(
        rgba(59,206,171,0.5),
        rgba(59,206,171,0.5)
    ),
    url(../images/gallery/5.png);
    margin: 0 auto;
    margin-top: 86px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
}

.intern .internAB{
    position: absolute;
    bottom: 0;

}

.intern-title{
    font-size: 200px;
    line-height: 0;
    margin-right: 70px;
    font-family: GSR;
    color: #3BCEAB;
}

.intern-title2{
    font-size: 110px;
    line-height: 0;
    font-family: GSR;
    color: #3BCEAB;
}







